<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edition d'une histoire</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/edit-story.css}">
    <link rel="icon" th:href="@{/img/icon.jpg}"/>
</head>
<body>
<div class="banner col-md-12">
    <div class="container-buttons">
        <a href="inscription" class="btn btn-primary btn-top">Se connecter</a>
        <a href="inscription" class="btn btn-primary btn-top">S'inscrire</a>
    </div>
</div>

<div class="custom-container">
    <div class="col-md-12">
        <form th:action="@{/edit-story(name=${storyEdit.name})}" method="post">

            <div class="row">
                <div class="col-md-12">
                    <h1 th:text="${storyEdit.name}"></h1>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-6">
                    <h2>Edition du chapitre:</h2>
                    <textarea type="text" id="Synopsis" th:field="*{storyEdit.summary}"> </textarea>
                </div>
                <!--Here we display all the story pages  -->
                <div class="tree-view col-md-6">
                    <h2>Edition par chapitre (cliquer pour éditer):</h2>
                    <div class="list-chapter">
                        <ul th:each="pageEdit : ${pageEdit}">
                            <li><a th:href="@{edit-page(name=${storyEdit.name},knot=${pageEdit.knot})}"
                                   th:text="|${pageEdit.knot}  ${pageEdit.title}|"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="options col-md-12">
                    <a th:href="@{accueil}" class="btn btn-primary btn-top btn-lg">Retourner à l'accueil</a>
                    <button type="submit" class="btn btn-primary btn-top btn-lg">Enregistrer les modifications</button>
                    <a th:href="@{delete-story(name=${storyEdit.name})}" class="btn btn-primary btn-top btn-lg">Supprimer
                        l'histoire</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>