<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edition d'une page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/edit-page.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="icon" th:href="@{/img/icon.jpg}"/>
</head>
<body>
<!--Banner-->
<div class="banner col-md-12"></div>

<!--Navbar-->
<header class="clearfix">
    <div class="container">
        <div class="header-left">
            <h1>Les histoires dont vous êtes le héros</h1>
        </div>
        <div class="header-right">
            <label for="open">
                <span class="hidden-desktop"></span>
            </label>
            <input type="checkbox" name="" id="open">
            <nav>
                <a href="accueil">Accueil</a>
                <a href="new-story">Nouvelle histoire</a>
                <a href="dashboard">Tableau de bord</a>
                <a href="inscription">Connexion</a>
                <a href="inscription">Inscription</a>
            </nav>
        </div>
    </div>
</header>


<div class="container content">
    <form id="contact" action="#" th:action="@{/edit-page(name=${storyName},knot=${pageEdit.knot})}" method="post">
        <h3 th:text="${storyName}"></h3>
        <h4>Editer le chapitre </h4>
        <fieldset>
            <input type="text" th:field="${pageEdit.title}" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <textarea type="text" th:field="${pageEdit.text}" tabindex="2" required></textarea>
        </fieldset>
        <fieldset>
            <button type="submit">Editer le chapitre</button>
        </fieldset>
        <fieldset>
            <a class="button-form" th:href="@{new-page(name=${storyName},knot=${pageEdit.knot})}">Ajouter un
                chapitre</a>
        </fieldset>
        <fieldset>
            <a class="button-form" th:if="${pageEdit.knot} != '1'"
               th:href="@{delete-page(name=${storyName},knot=${pageEdit.knot})}">Supprimer le chapitre</a>
        </fieldset>
        <fieldset>
            <p id="back-home"><a th:href="@{accueil}">Retourner à l'accueil</a></p>
        </fieldset>
    </form>
</div>
</body>
</html>
