<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Story</title>
</head>
<body>
    <h1>New Story</h1>
    <div class="form">
        <form action="#" th:action="@{/new-story}" th:object="${formObject}" method="post">
            <div class="name">
                <label>Nom de l'histoire: </label>
                <input type="text" th:field="*{story.name}">
            </div>
            <div class="summary">
                <label>Résumé: </label>
                <input type="text" th:field="*{story.summary}">
            </div>
            <div class="titleChapter">
                <label>Titre du 1er chapitre: </label>
                <input type="text" th:field="*{page.title}">
            </div>
            <div class="firstChapter">
                <label>Premier chapitre: </label>
                <input type="text" th:field="*{page.text}">
            </div>
            <div>
                <ul>
                    <li th:each="i:${img}">
                        <label><input type="radio" th:field="*{story.img}" th:value="${i}" /><img th:src="${i}"></label><br>
                    </li>
                </ul>
            </div>
            <div class="valider">
                <button type="submit"> Enregistrer </button>
            </div>
        </form>
    </div>

</body>
</html>