<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edition d'une page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/new-page.css}">
    <link rel="icon" th:href="@{/img/icon.jpg}"/>
</head>
<body>
<div class="banner col-md-12">
    <div class="container-buttons">
        <a href="inscription" class="btn btn-primary btn-top">Se connecter</a>
        <a href="inscription" class="btn btn-primary btn-top">S'inscrire</a>
    </div>
</div>
<div class="row col-md-12">
    <h1 id="storyTitle" th:text="${storyName}"></h1>
</div>
<div class="row col-md-12">
    <h2>Nouveau chapitre</h2>
</div>

<form action="#" th:action="@{/new-page(name=${storyName},knot=${pageKnot})}" method="post">
    <div class="row">
        <input id="pageTitle" th:field="*{newPage.title}" placeholder="Titre du chapitre">
    </div>
    <div class="row">
        <textarea id="chapterContent" th:field="*{newPage.text}" placeholder="Contenu du chapitre"></textarea>
    </div>
    <div class="row">
        <div class="options col-md-12">
            <a th:href="@{accueil}" class="btn btn-primary btn-top btn-lg">Retourner à l'accueil</a>
            <button type="submit" class="btn btn-primary btn-top btn-lg">Enregistrer les modifications</button>
        </div>
    </div>
</form>
</body>
</html>