<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nouvelle histoire</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/new-story.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="icon" th:href="@{/img/icon.jpg}"/>
</head>
<body>
<!--Banner-->
<div class="banner col-md-12"></div>

<!--Navbar-->
<header class="clearfix">
    <div class="container">
        <div class="header-left">
            <h1>Les histoires dont vous êtes le héros</h1>
        </div>
        <div class="header-right">
            <label for="open">
                <span class="hidden-desktop"></span>
            </label>
            <input type="checkbox" name="" id="open">
            <nav>
                <a href="accueil">Accueil</a>
                <a href="new-story">Nouvelle histoire</a>
                <a href="dashboard">Tableau de bord</a>
                <a href="inscription">Connexion</a>
                <a href="inscription">Inscription</a>
            </nav>
        </div>
    </div>
</header>

<div class="container content">
    <form id="contact" th:action="@{/new-story}" th:object="${formObject}" method="post">
        <h3>Nouvelle histoire</h3>
        <h4>Remplis vite les champs ci-dessous pour créer ton histoire</h4>
        <fieldset>
            <input placeholder="Nom de l'histoire" th:field="*{story.name}" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <textarea placeholder="Résumé" th:field="*{story.summary}" type="email" tabindex="2" required></textarea>
        </fieldset>
        <fieldset>
            <input placeholder="Titre du premier chapitre" th:field="*{page.title}" type="tel" tabindex="3" required>
        </fieldset>
        <fieldset>
            <textarea placeholder="Contenu du premier chapitre" th:field="*{page.text}" tabindex="4"
                      required></textarea>
        </fieldset>
        <fieldset>
            <label class="col-md-4" th:each="i : ${img}">
                <input type="radio" th:field="*{story.img}" th:value="${i}"/> <!--th:checked="${img[0] == i}"-->
                <img th:src="${i}">
            </label>
        </fieldset>
        <fieldset>
            <button type="submit" id="contact-submit">Créer l'histoire</button>
        </fieldset>
        <fieldset>
            <p id="back-home"><a th:href="@{accueil}">Retourner à l'accueil</a></p>
        </fieldset>
    </form>
</div>


</body>
</html>
