<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="fr">
<head>
    <title>Lecture</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/story.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="icon" th:href="@{/img/icon.jpg}"/>

</head>

<body>
<!--Banner-->
<div class="banner col-md-12"></div>

<!--Navbar-->
<header class="clearfix">
    <div class="container">
        <div class="header-left">
            <h1>Les histoires dont vous êtes le héros</h1>
        </div>
        <div class="header-right">
            <label for="open">
                <span class="hidden-desktop"></span>
            </label>
            <input type="checkbox" name="" id="open">
            <nav>
                <a href="home">Accueil</a>
                <a th:if="${user.login} != null" href="new-story">Nouvelle histoire</a>
                <a th:if="${user.login} != null" href="dashboard">Tableau de bord</a>
                <a th:if="${user.login} == null" href="sign-up">Inscription</a>
                <a th:if="${user.login} == null" href="sign-in">Connexion</a>
                <a th:if="${user.login} != null" href="deconnexion" th:text="|Deconnecter ${user.login}|"></a>
            </nav>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 id="title-chapter" th:text="${page.title}"></h2>
        </div>
    </div>
    <div class="row">
        <p class="col-md-12">
        <pre id="myPArea" th:text="${page.text}"></pre>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12" th:each="nextPage : ${nextPage}">
            <a class="btn btn-primary choices" th:href="@{story(name=${story.name},knot=${nextPage.knot})}"
               th:text="${nextPage.title}"></a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>